.Rproj.user
.Rhistory
.RData
.Ruserdata
.R
.Rproj
.shx
.shp
.sbx
.sbn
.prj
.dbf
.cpg
.shp.xml
neighbours.shx
article4.shx
kingston.shx
article4.cpg
article4.dbf
article4.prj
article4.sbn
article4.sbx
article4.shp
article4.shp.xml
